<style>
  .mr-6 {
    transition: all 0.3s ease;
  }
  .mr-6:hover {
    background-color: #4f46e5;
    color: #ffffff;
    boxShadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  
</style>



<body class="bg-gray-100">
  <header class= "bg-gradient-to-r from-blue-400 to-indigo-600 text-white p-4 flex items-center justify-between">

    <img class="w-30 h-40  mt-6" src="https://scontent.fcue1-1.fna.fbcdn.net/v/t39.30808-6/359796391_750627340402987_8587252404260421075_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=efb6e6&_nc_ohc=rPSLVSVo_WMAX_1ZpUS&_nc_ht=scontent.fcue1-1.fna&oh=00_AfC1IbBucgvAuxXGs3OlUrVtstdNIJa-BYjTidmYzrti0A&oe=65B2F940" alt="Descripción de la imagen">
    
    
    
  </header>
  <nav class="flex justify">
    <ul class=" bg-gradient-to-r from-blue-400 flex nav-link px-4 py-2 rounded-lg hover:underline border-b-4 border-black fixed w-full top-0">
      <li class="mr-6"><a href="#" >Inicio</a></li>
      <li class="mr-6"><a href="#" >Acerca de</a></li>
      <li class="mr-6"><a href="#">Académicos</a></li>
      <li class="mr-6"><a href="#">Vida Estudiantil</a></li>
      <li class="mr-6"><a href="#" >Contacto</a></li>
    </ul>
</nav>

  <main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold">Unidad Educativa "Victor G. Agular"</h1>
    <p class="text-left">Educación de calidad para un futuro brillante.</p>
    <section class="mb-8">
      <h3 class="text-2xl font-bold mb-4 text-blue-700">Noticias y Eventos</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="p-4 bg-blue-100 rounded-2xl shadow-md">Rincon de la Lectura
          <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.6435-9/46850119_2019071948158069_3285886436569513984_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=4dc865&_nc_ohc=6zGqRIu4QaIAX_urOBV&_nc_ht=scontent.fcue1-1.fna&oh=00_AfA-7J2AAAFHII_wP_OxAqDc-GKwFFH2XE8JwDXP85fgYw&oe=65D631CD" alt="1">
          <p>Se inauguró el espacio denominado Rincón de la Lectura; el mismo que en base al esfuerzo de los estudiantes y padres de familia en coordinación con el Área de Lengua y Literatura de nuestra unidad educativa pudo materializar este proyecto.</p>
        </div>
        <div class="p-4 bg-blue-100 rounded-2xl shadow-md">Recreo Verde
          <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.6435-9/84153581_2776473319084591_870810825491742720_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=4dc865&_nc_ohc=JTcCqMubzioAX_Mzkh_&_nc_ht=scontent.fcue1-1.fna&oh=00_AfAnhdAC00Bx9zo6y33E_y-5lMjUEAxjJcW9-74wOeCDkQ&oe=65D647D1"  alt="2">
          <p>Nuestra unidad educativa participó de un conjunto de actividades enfocadas a concienciar sobre el buen uso de la energía eléctrica, el agua, el papel y otros recursos;</p>
        </div>
        <div class="p-4 bg-blue-100 rounded-2xl shadow-md">Concurso de Ciencia y Tecnología UNAE
          <img src="https://scontent.fcue1-1.fna.fbcdn.net/v/t1.6435-9/75328613_2610996902298901_7485586448796614656_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=4dc865&_nc_ohc=M5X4UUijuqUAX9qaW3Y&_nc_ht=scontent.fcue1-1.fna&oh=00_AfDQiDJH5oUBG0OFrDVmSjEQbfUyu4wDj80OwflPqQYomA&oe=65D656EC"  alt="3">
          <p>Destacada participación de nuestra Unidad Educativa dentro de las IV Jornadas de Escuelas Innovadoras realizadas en la Universidad Nacional de Educación.</p>
        </div>

      
      </div>
    </section>
    <section class="mb-8">

      <h3 class="text-2xl font-bold mb-4 text-blue-700">Educación Integral</h3>
      <div class="p-4 bg-blue-100 rounded-2xl shadow-md">
        <ul class="list-disc">
          <li class="mb-2">Potenciamos y estimulamos los talentos de los estudiantes</li>
          <li class="mb-2">Desarrollo del pensamiento visual</li>
          <li class="mb-2">Potenciamos y estimulamos los talentos de los estudiantes</li>
        </ul>
        
      </div>
      
    </section>
    <section class="mb-8">
      <h3 class="text-2xl font-bold mb-4 text-blue-700">Comunicate con nosotros</h3>
      <p>Trabajamos día a día para hacer de vuestra práctica educativa la mejor experiencia, replanteando y estructurando el proceso de enseñanza y aprendizaje.</p>
    </section>
  </main>
  <footer class="bg-gradient-to-r from-blue-400 to-indigo-600 text-white p-4 flex items-center justify-between">
    
  </footer>
</body>